{% extends 'base.html' %}


{% block title %} dashboard {% endblock title %}



{% block content  %}

{% if user.is_authenticated %}
    <div class="container flex justify-center mt-16">
    <a class="py-2 px-6 text-white bg-gray-700 rounded-md " href="{% url 'create_post' %}">create Post</a>
  </div>
  {% for posts in  post %}
     <div class="flex items-stretch mt-2 m-16 space-x-1 ">
          <div class="px-1.5 py-6 bg-gray-200/150 mt-2 rounded-md w-full border 
          border-slate-300">
          <p class="text-slate-800"><svg class="w-8 text-blue-600/100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg> Hauteur: {{posts.user.username}}</p>
          <p>{{posts.name}}</p>
          <p>{{posts.Text}}</p>
          <span> Publié il y a {{posts.date|timesince}}</span>
          
  
          <a class="text-blue-600" href="{% url 'create_post' %}">create post</a>
          <a class="text-blue-600" href="{% url 'update_post' posts.id %}">Editer</a>
      
            
         <a class="text-red-600" href="{% url 'delete_post' posts.id %}">Delete</a><br>
        
       </div>
  </div>
  {% endfor %}
      
{% endif %}
{% endblock content  %}
    
    