
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
 
    <title>{% block title %} Blog {% endblock title %}</title>

</head>
<body>
    {% include 'navabar.html' %}
   {% block content %}
    
   {% endblock content %}
   {% include 'foooter.html' %}
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
      document.addEventListener('htmx:configRequest', (event) => {
     // Ajoutez votre jeton CSRF à chaque requête htmx (s'il est nécessaire)
     const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
     event.detail.headers['X-CSRFToken'] = csrf_token;
    });
   </script>
</body>
</html>